[Unit]
Description=Perform health checks for earthworm

[Service]
Restart=on-failure
# Update user accordingly
User=daniel
# Update following paths
WorkingDirectory=/home/daniel/EwHealthChecker
EnvironmentFile=/home/daniel/EwHealthChecker/.env

# Update paths accordingly
# Update ip and port
ExecStart=/home/daniel/EwHealthChecker/venv/bin/python \
    /home/daniel/EwHealthChecker/src/ew/check_health.py --interval 60 -t -g

[Install]
WantedBy=multi-user.target
